---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

I’m interested in organizational economics and behavioural strategy. My work focuses on understanding the strategy implementation in organizations, and the relationship between individuals’ collective behaviours and organization capabilities. 
My current research applies and develops mathematical models to investigate economic activity and behaviours in industrial organizations.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

