---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h3 style="font-size: x-larger;">Dissertation Supervision</h3>

Master dissertations supervised at the National University of Ireland Galway (2020)

<strong>Dylan Ward, MSc.</strong> <em>“Paperless office in Hospital’s HR Department.”</em><br><br>
<strong>Elaine Treacy, MSc.</strong> <em>“The impact of digitalisation on managers working in the medical business unit of a multinational corporation”</em><br><br>
<strong>Jiaxin Tan, MSc.</strong> <em>“Ways to improve internal communication in remote work”</em><br><br>
<strong>Kshitji Tiwari, MSc.</strong> <em>“Digital transformation and the performance of the organisation and employee at the City Bin Co.”</em><br><br>

