---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<h3 style="font-size: larger;">Dissertation Supervision</h3>

<p style="line-height: 160%;">
  Master dissertations supervised at the J.E. Cairnes School of Business & Economics, National University of Ireland Galway, 2020.
</p>

<ul>
    <li><strong>Dylan Ward, MSc.</strong> <em>“Paperless office in Hospital’s HR Department.”</em></li>
    <li><strong>Elaine Treacy, MSc.</strong> <em>“The impact of digitalisation on managers working in the medical business unit of a multinational corporation”</em></li>
    <li><strong>Jiaxin Tan, MSc.</strong> <em>“Ways to improve internal communication in remote work”</em></li>
    <li><strong>Kshitji Tiwari, MSc.</strong> <em>“Digital transformation and the performance of the organisation and employee at the City Bin Co.”</em></li>
</ul>

